div{
    border: 2px solid blue;
    border-radius: 15px;
    padding: 5px;
    background-color: blue;
    color: #000;
    
}
.h1{
    font-size: xx-large;
    border-radius: 10px;
}


